/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    /* ## Colors */

    /* ### Primary */

    /* #### Text */

    /* (sub-heading at the top of the app UI) */
    --pale-violet: hsl(276, 100%, 81%);

    /* (chat on the left) */
    --moderate-violet: hsl(276, 55%, 52%);

    /* (chat on the right): */
    --desaturated-dark-violet: hsl(271, 15%, 43%);

    /* (placeholder text) */
    --grayish-blue: hsl(206, 6%, 79%);

    /* (main heading) */
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);

    /* (paragraph) */
    --dark-grayish-violet: hsl(270, 7%, 64%);

    /* chat message background */
    --lavanda: hsl(272, 41%, 93%);

    /* #### Gradients */

    /* These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient: */

    --light-magenta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);

    /* ### Secondary */

    --white: hsl(0, 0%, 100%);

    /* (app background) */
    --light-grayish-violet: hsl(270, 20%, 96%);

    /* (submit button background) */
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);

    /* (radio button outline) */
    --very-light-magenta: hsl(289, 100%, 72%);

    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
}

main {
    padding: 1rem;
    height: 100%;
}

/* outside texts */

section.container .texts {
    text-align: center;
}

section.container h1 {
    font-size: 2rem;
    color: var(--very-dark-desaturated-violet);
    margin-bottom: 1rem;
    font-weight: 500;
}

section.container p {
    color: var(--dark-grayish-violet);
    font-size: 0.9rem;
}

/* Phone */

.phone {
    height: 634px;
    width: 90%;
    margin-inline: auto;
    padding: .5rem;
    background-color: var(--white);
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
}

.phone .inner {
    background: var(--light-grayish-violet);
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.inner .top {
    background: linear-gradient(to right, var(--light-violet), var(--light-magenta));
    width: 100%;
    height: 5rem;
    border-radius: 2rem 2rem 6px 6px;
    padding: 0 1rem;
    display: flex;
    align-items: end;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.inner .top .inner-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Top left */
.inner .top .top-left {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

.inner .top .top-left img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--white);
}

.inner .top .top-left .name h3 {
    color: var(--light-grayish-violet);
    font-size: .9rem;
    font-weight: 500;
    line-height: 10px;
    margin-bottom: .2rem;
}

.inner .top .top-left .name p {
    color: var(--pale-violet);
    font-size: 0.7rem;
}

/* Top right */

.top .top-right {
    margin-bottom: 1rem;
}

.top .top-right ul {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    margin: 0;
}

.top .top-right ul li {
    list-style: none;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--light-grayish-violet);
}

/* Notch */

.top .notch {
    width: 10rem;
    height: 20px;
    background-color: var(--light-grayish-violet);
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 2rem 2rem;
}

/* Chat section */

.chat-area {
    padding: 1rem;
}

.chat-area .message {
    padding: .5rem;
    background-color: var(--lavanda);
    margin-bottom: .5rem;
    border-radius: 1rem;
    max-width: 60%;
    width: fit-content;
}

.chat-area .message p {
    color: var(--moderate-violet);
    font-size: 10px;
}

.chat-area .message.other {
    background-color: var(--white);
    margin-left: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.chat-area .message.other p {
    color: var(--desaturated-dark-violet);
}

.chat-area .images-message{
    display: flex;
    max-width: 70%;
    gap: .6rem;
    margin-left: auto;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.chat-area .images-message img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

/* options section */

.options {
    margin-top: 1.2rem;
    display: grid;
    gap: 1rem;
    max-width: 80%;
}

.options .option {
    background: linear-gradient(to right, var(--light-magenta), var(--light-violet));
    width: 100%;
    border-radius: 10px 10px 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem .5rem .5rem;
}

.options .option .time {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.options .option .time p {
    color: var(--white);
    font-size: 12px;
}

.options .option .price{
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
}

.options .option .time .radio {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1.8px solid var(--very-light-magenta);
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.6rem;
    border-radius: 30px;
    align-items: center;
    padding-right: .5rem;
}

.input-container input {
    width: 100%;
    padding: 0rem 0rem 0 1rem;
    height: 3rem;
    border-radius: 30px 10px 10px 30px;
    border: none;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    color: var(--dark-grayish-violet);
}

.input-container input::placeholder {
    color: var(--grayish-blue);
}

.input-container button {
    background-color: var(--very-dark-desaturated-violet);
    border: none;
    outline: none;
    border-radius: 50%;
    color: var(--white);
    font-size: 18px;
    font-weight: 700;
    font-weight: 500;
    cursor: pointer;
    width: 30px;
    height: 30px;
}